@model IEnumerable<WebBook.Models.Category>

<div class="sidebar_section">
    <div class="sidebar_title">
        <h5>Danh sách sản phẩm</h5>
    </div>
    <ul class="sidebar_categories">
        @if(ViewBag.categoryId == null)
        {
            <li class="active">
                <a asp-controller="Product" asp-action="Index">
                    <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Tất cả
                </a>
            </li>
        }
        else
        {
            <li>
                <a asp-controller="Product" asp-action="Index">Tất cả</a>
            </li>
        }

        @foreach (var item in Model)
        {
            if (ViewBag.categoryId == item.Id)
            {
                <li class="active">
                    <a asp-controller="Product" asp-action="ProductCategory" asp-route-slug="@item.Slug">
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Name
                    </a>
                </li>
            }
            else
            {
                <li><a asp-controller="Product" asp-action="ProductCategory" asp-route-slug="@item.Slug">@item.Name</a></li>
            }

        }
       </ul>
</div>