@{
    ViewData["Title"] = "Quên mật khẩu";
}

<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">


<div class="container single_product_container" style="margin-top: 130px">
    <div class="row">
        <div class="col">
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                    <h3 style="color: green">XÁC NHẬN QUÊN MẬT KHẨU</h3><br />
                    <p>Hãy kiểm tra email của bạn để thực hiện bước tiếp theo/p>
                </div>
            </div>
        </div>
    </div>
</div>