@using WebBook.Common
@using WebBook.Data
@model WebBook.ViewModels.ForgotPasswordVM


@{
    ViewData["Title"] = "Quên mật khẩu";
}

<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">


<div class="container single_product_container" style="margin-top: 130px">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->


            <div class="row" style="margin-bottom: 15px">
                <div style="border-bottom: 1px solid #ced4da;">
                    <h5>QUÊN MẬT KHẨU</h5>
                </div>
            </div>
            <form type="POST" enctype="multipart/form-data" asp-controller="Account" asp-action="ForgotPassword" >
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email của tài khoản" />
                            <span asp-validation-for="Email" class="checkout_validation"></span>
                        </div>
                        <div class="form-group">
                            <button style="cursor: pointer; margin-bottom: 10px" type="submit" class="btn btn-danger">Gửi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>