@{
    ViewData["Title"] = "Thanh toán";
}

<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">


<div class="container single_product_container" style="margin-top: 130px">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                    <li class="active"><a asp-controller="Cart" asp-action="CheckOut"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 style="color: green">THANH TOÁN THÀNH CÔNG!</h3><br />
                    <p>Đơn hàng sẽ được xử lý và giao đến bạn sớm nhất có thể. Cảm ơn bạn đã sử dụng dịch vụ!</p>
                </div>
            </div>
        </div>
    </div>
</div>