@{
    ViewData["Title"] = "Access Denied";
    Layout = null;
}


<!-- 404 Error Text -->
<div style="text-align: center">
    <h1 style="color: red; font-size: 70px">404</h1>
    <p class="lead text-gray-800 mb-5">Oops! Page not found</p>
</div>

