@model WebBook.ViewModels.ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        <input type="hidden" asp-for="Id" />
                        <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
                            <div class="mb-2">
                                <label>Username</label>
                                <input type="text" asp-for="UserName" class="form-control" disabled>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>New Password</label>
                                <input type="password" asp-for="NewPassword" class="form-control">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>Confirm Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="mb-2">
                                <button class="btn btn-primary w-100" type="submit">Reset Password</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <!--/.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>

