<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>User</p>
            </a>
        </li>

      @*  <li class="nav-item">
            <a asp-area="Admin" asp-controller="Menu" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Menu</p>
            </a>
        </li>*@

      @*  <li class="nav-item">
            <a asp-area="Admin" asp-action="Index" asp-controller="News" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    News
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>*@

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Post" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-file"></i>
                <p>Post</p>
            </a>
        </li>

      @*  <li class="nav-item">
            <a href="../widgets.html" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>Event</p>
            </a>
        </li>*@
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Supplier" asp-action="Index" class="nav-link">
                <i class=" nav-icon far fa-plus-square"></i>
                <p>Supplier</p>
            </a>
        </li>
       
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Product Management
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Category</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Product</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="nav-link">
                 <i class="nav-icon fas fa-table"></i>
                <p>
                    Order
                    <span class="right badge badge-danger">@ViewBag.newOrder</span>
                </p>
            </a>
        </li>

       @* <li class="nav-item">
            <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-cog"></i>
                <p>System</p>
            </a>
        </li>*@

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    System
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Menu" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Menu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Event" asp-action="Index" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>Event</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Feedback" asp-action="Index" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>Feedback</p>
            </a>
        </li>
       
    </ul>
</nav>