@{
    ViewData["Title"] = "About";
}


<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">


<div class="container single_product_container" style="margin-top: 130px">
    <div class="row">
        <div class="col" style="background-image: url(/thumbnails/pexels-juan-pablo-serrano-arenas-877971.jpg); background-size: 100%; height: 600px">
           <h2 style="text-align: center; padding-top: 100px; color: white">ABOUT US</h2>
       </div>
    </div>
</div>

<!-- Tabs -->
@section scripts{
    <script src="~/client/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/client/js/single_custom.js"></script>
}