@*@using WebBook.Common
@using WebBook.Data
@model WebBook.ViewModels.LoginVM
*@
@*@model WebBook.Models.Order*@
@{
    ViewData["Title"] = "Tra cứu đơn hàng";
}

<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">


<div class="container single_product_container" style="margin-top: 130px">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->


            <div class="row" style="margin-bottom: 15px">
                <div style="border-bottom: 1px solid #ced4da;">
                    <h5>TRA CỨU ĐƠN HÀNG</h5>
                </div>
            </div>
            <form type="POST" enctype="multipart/form-data" asp-controller="Home" asp-action="OrderLookup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mã đơn hàng<sup style="color: red">*</sup></label>
                            <input name="Code" type="text" class="form-control" placeholder="Nhập mã đơn hàng, Ví dụ: DH123" required />
                            @*<span asp-validation-for="Code" class="checkout_validation"></span>*@
                        </div>
                        <div class="form-group">
                            <label>Email<sup style="color: red">*</sup></label>
                            <input name="Email" type="text" class="form-control" placeholder="Nhập email" required/>
                            @*<span asp-validation-for="Email" class="checkout_validation"></span>*@
                        </div>
                        <div class="form-group">
                            <button style="cursor: pointer" type="submit" class="btn btn-danger">Tra cứu</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>