<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Tổng quan</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>Người dùng</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Post" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-file"></i>
                <p>Bài đăng</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Supplier" asp-action="Index" class="nav-link">
                <i class=" nav-icon far fa-plus-square"></i>
                <p>Nhà cung cấp</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Quản lý sản phẩm
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Danh mục sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tất cả sản phẩm</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                    Quản lý đơn hàng
                    <span class="right badge badge-danger">@ViewBag.newOrder</span>
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Quản lý hệ thống
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Menu" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Quản lý lối tắt</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Event" asp-action="Index" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>Quản lý sự kiện</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Feedback" asp-action="Index" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                    Đánh giá
                    <span class="right badge badge-danger">@ViewBag.unRead</span>
                </p>
            </a>
        </li>

    </ul>
</nav>