@model WebBook.ViewModels.CreatePostVM


@{
    ViewData["Title"] = "Post";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Post" asp-action="Index">@ViewData["Title"]</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create new @ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <form asp-action="Edit" asp-controller="Post" asp-area="Admin" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Title</label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Short Description</label>
                        <textarea asp-for="ShortDescription" class="form-control"></textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="Description" class="form-control" rows="30"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Image</label><br />
                        <img style="margin-bottom: 10px" width="250" id="image" src="~/uploads/images/post/@Model.Image"/>
                        <input type="File" asp-for="FileImage" class="custom-file" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a asp-action="Index" asp-area="Admin" asp-controller="Post" class="btn btn-primary" onclick="stepper.previous()">Previous</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </form>

            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('image').src = window.URL.createObjectURL(this.files[0]);
        });
    </script>
}